@charset "utf-8";
/* CSS Document */

body{margin: 0; padding: 0;}
img{width: 100%}
.video_container{

}
.videodiv{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}
.logowrap{
    display: inline-grid;
    position: relative;
    height: calc(100% - 120px);
    margin: 80px 20px 40px;
    width: calc(100% - 40px);
}
.homelogo{
    display: flex;
	position: relative; height: 100vh;
}
.homelogo::before{
    display: block;
    overflow: hidden;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    content: "";
    z-index: 1;
}
.homelogo img{
    max-width: 200px;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
}
.whatsapp-chat{
    display: flex;
    width: 100%;
    margin: 30px auto auto;
    cursor: pointer;
    max-width: 150px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}